</br></br>
<%= image_tag "stop.png", :style => 'width:20%;height:20%;margin-left:40.6%;' %>
</br></br></br></br>
<h2 style="text-align:center;">Please Contact <span style="text-decoration:underline;color:#FA0D0D;">WEBSITE ADMINISTRATOR</span> for account creation. Thanks!</h2>
