<script type="text/javascript">
  var d = document.getElementById("csv");
d.className = d.className + " active";
</script>
<h4>Upload Students List via <span style="font-style:italic;">CSV</span> File</h4>
<u><strong>First row should be : id, name, branch, grade, amount </strong></u>


<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file, :accept => 'text/csv' %>
  <%= submit_tag "Import", :class => 'btn' %>
<% end %>