<script type="text/javascript">
  var d = document.getElementById("home");
d.className = d.className + " active";
</script>
<h1>Welcome</h1>
<br> <br>
<div>
<iframe src='https://www.dayhaps.com/en/widget-calendar-2360.html?lang=en' height='710px' width='900px' frameBorder='0'></iframe>
</div>